.replyTextarea{
    margin-top: 0px; 
    margin-bottom: 0px; 
    height: 5rem;   
}

.pretag {
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-break:break-all;
}