.iamgeBox {
    width: 7%;
    margin-left : 1.5%;
    text-align : center;    
}

.contentBox {
    width: 91%; 
    margin-left : 0.5%;
}
#reReplyTextarea{
    padding-left:1%;
    position: relative; 
    width:86%;
}
#reReplyButton{
    padding-left:1%;
    width:11%;
}
#newReplyText{
    padding-left:1%;
    position: relative; 
    width:90%;
}
#replyAddBtn{
    padding-left:1%;
    width:9%;
}
#ReplyModButton{
    padding-left:1%;
    width:11%;
}
.iamgeBox > img {
    width: 55px;
    height: 55px;
    border-radius: 12px;
    margin-right: 20px;
}
#replies > .card{
	padding: 2% 2% 1.25% 2%;
}

.depth1{
	padding-left: 4em;
}

.replyTextarea{    
    height: 5rem;   
}

.pretag {
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-break:break-all;
}

#needToLogin {
	width:100%;
	height:4em; 
	padding-left:2%;
}