<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cultura.mapper.BoardMapper">

	<insert id="create">
	INSERT INTO BOARD_TB (
	            TITLE
	          , CONTENT
	          , USERID)
	   	  VALUE (#{title}
	   	      , #{content}
	   	      , #{userId})
	</insert>	

	<select id="read" resultType="BoardVO">
		SELECT
		  boardId, title, content, board_tb.regDate, viewCnt, userId, nickname
		FROM
		  board_tb JOIN user_tb USING(userId)
		WHERE
		  boardId = #{boardId}
	</select>

	<update id="update">
		UPDATE board_tb 
		   SET title = #{title}, content = #{content}
		 WHERE boardId = #{boardId}
	</update>

	<delete id="delete">
   	DELETE FROM BOARD_TB 
          WHERE boardId = #{boardId}
	</delete>	
    
    <sql id="search">
	    <if test="searchType != null" > 
	        <if test="searchType == 'title'.toString()">
	          and title like CONCAT('%', #{keyword}, '%')
	        </if>
	        <if test="searchType == 'contents'.toString()">
	          and content like CONCAT('%', #{keyword}, '%')
	        </if>
	        <if test="searchType == 'nickname'.toString()">
	          and userId like CONCAT('%', #{keyword}, '%')
	        </if>     
	        <if test="searchType == 'TC'.toString()">
	          and ( title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))
	        </if>	                 
	    </if>  
	</sql>
 
	<select id="listSearch" resultType="BoardVO">
	  SELECT boardId, title, content, board_tb.regDate, viewCnt, replyCnt, userId, nickname 
	  FROM board_tb JOIN user_tb USING(userId)
	  WHERE boardId &gt; 0	
	  <include refid="search"></include>  

	  ORDER BY boardId DESC
	  LIMIT #{pageStart}, #{perPageNum}	
	</select>
	  
	<select id="listSearchCount" resultType="int">	  
	  SELECT COUNT(boardId) 
	  FROM BOARD_TB 
	  WHERE boardId &gt; 0 	
	  <include refid="search"></include>	 
	</select>
	
	<update id="updateReplyCnt">
	   UPDATE BOARD_TB 
	   SET REPLYCNT = REPLYCNT + #{amount} 
	   WHERE BOARDID = #{boardId}
	</update>
	
	<update id="updateViewCnt">
       UPDATE BOARD_TB 
       SET VIEWCNT = VIEWCNT + 1 
       WHERE boardId = #{boardId}
    </update>
    
</mapper>