<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cultura.mapper.BoardMapper">

	<insert id="create">
	INSERT INTO BOARD_TB (
	            TITLE
	          , CONTENT
	          , MEMBER_ID)
	   	  VALUE (#{title}
	   	      , #{content}
	   	      , #{member_id})
	</insert>

	<select id="read" resultType="BoardVO">
		SELECT
		  board_id, title, content, reg_date, view_cnt, member_id
		FROM
		  board_tb
		WHERE
		  board_id = #{board_id}
	</select>

	<update id="update">
		UPDATE board_tb 
		   SET title = #{title}, content = #{content}
		 WHERE board_id = #{board_id}
	</update>

	<delete id="delete">
   	DELETE FROM BOARD_TB 
          WHERE BOARD_ID = #{board_id}
	</delete>

	<select id="listAll" resultType="BoardVO">
    <![CDATA[
        SELECT BOARD_ID
             , TITLE
             , CONTENT
             , REG_DATE
             , VIEW_CNT
             , MEMBER_ID
		  FROM BOARD_TB
		 WHERE board_id > 0
   	  ORDER BY BOARD_ID DESC, REG_DATE DESC
		]]>
	</select>
	
	<select id="listPage" resultType="BoardVO">
		SELECT BOARD_ID
		     , TITLE
		     , CONTENT
		     , MEMBER_ID
		     , REG_DATE
		     , VIEW_CNT
		  FROM BOARD_TB
		 WHERE BOARD_ID &gt; 0
	  ORDER BY BOARD_ID DESC
		 LIMIT #{page}, 10	
	</select>
	
	<select id="listCriteria" resultType="BoardVO">
	SELECT BOARD_ID
	     , TITLE
	     , CONTENT
	     , MEMBER_ID
	     , REG_DATE
	     , VIEW_CNT
	  FROM BOARD_TB
	 WHERE BOARD_ID &gt; 0
  ORDER BY BOARD_ID DESC
     LIMIT #{pageStart}, #{perPageNum}
	
	</select>
	
	<select id="countPaging" resultType="int">
    SELECT COUNT(BOARD_ID)         
      FROM BOARD_TB
     WHERE BOARD_ID &gt; 0    
    </select>

<!--     <select id="listSearch" resultType="BoardVO">
    SELECT * FROM BOARD_TB     
     WHERE BOARD_ID &gt; 0
     ORDER BY BOARD_ID DESC
     LIMIT #{pageStart}, #{perPageNum}   
    </select>
    
    <select id="listSearchCount" resultType="int">
    SELECT COUNT(BOARD_ID)
      FROM BOARD_TB      
     WHERE BOARD_ID &gt; 0        
    </select> -->
    
    <sql id="search">
	 <if test="searchType != null" > 
	   <if test="searchType == 't'.toString()">
	     and title like CONCAT('%', #{keyword}, '%')
	   </if>
	   <if test="searchType == 'c'.toString()">
	     and content like CONCAT('%', #{keyword}, '%')
	   </if>
	   <if test="searchType == 'w'.toString()">
	     and writer like CONCAT('%', #{keyword}, '%')
	   </if>     
	   <if test="searchType == 'tc'.toString()">
	     and ( title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))
	   </if>	                 
	 </if>  
	</sql>
 
	<select id="listSearch" resultType="BoardVO">
	  SELECT * 
	  FROM BOARD_TB 
	  WHERE BOARD_ID &gt; 0	
	  <include refid="search"></include>  

	  ORDER BY BOARD_ID DESC
	  LIMIT #{pageStart}, #{perPageNum}
	
	</select>
	  
	<select id="listSearchCount" resultType="int">	  
	  SELECT COUNT(BOARD_ID) 
	  FROM BOARD_TB 
	  WHERE BOARD_ID &gt; 0 	
	  <include refid="search"></include>
	 
	</select>  
    
</mapper>