<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.cultura.mapper.ReplyMapper">
    
    <select id="list" resultType = "com.cultura.domain.ReplyVO">
    SELECT * 
    FROM REPLY_TB 
    WHERE BOARD_ID = #{board_id}
    ORDER BY REPLY_ID DESC    
    </select>
    
    <insert id="create">
    INSERT INTO REPLY_TB (BOARD_ID, REPLYTEXT, REPLYER)
    VALUES (#{board_id}, #{replytext}, #{replyer})    
    </insert>
    
    <update id="update">
    UPDATE REPLY_TB 
    SET REPLYTEXT = #{replytext},
        UPDATE_DATE = now()
    WHERE REPLY_ID = #{reply_id}    
    </update>
    
    <delete id="delete">
    DELETE FROM REPLY_TB 
    WHERE REPLY_ID = #{reply_id}
    </delete>
    
    
  </mapper>