<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.cultura.mapper.UserMapper">
      <resultMap type="com.cultura.model.UserVO" id="userMap">
        <id property="userId" column="userId"/>
        <result property="userId" column="userId"/>
        <result property="userPw" column="userPw"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="regDate" column="regDate"/>
        <result property="updateDate" column="updateDate"/>
        <result property="enabled" column="enabled"/>
        <result property="blog" column="blog"/>
        <result property="birth" column="birth"/>
        <result property="address" column="address"/>
        <result property="image" column="image"/>
        <collection property="authList" resultMap="authMap"></collection>
      </resultMap>
      
      <resultMap type="com.cultura.model.AuthVO" id="authMap">
        <result property="userId" column="userId"/>
        <result property="auth" column="auth"/>
      </resultMap>
      
      <select id="readUserAuth" resultMap="userMap">
          SELECT mem.userId,  userPw, nickname, email, enabled, regDate, updatedate, blog, birth, address, image, auth
          FROM user_tb mem LEFT OUTER JOIN user_auth_tb auth on mem.userId = auth.userId 
          WHERE mem.userId = #{userId} 
      </select>
      
      <select id="readId" resultType="UserVO">
          SELECT userId
          FROM user_tb 
          WHERE userId = #{userId} 
      </select>
      
      <select id="readNickname" resultType="UserVO">
          SELECT nickname
          FROM user_tb 
          WHERE nickname = #{nickname} 
      </select>
      
      <insert id="createUser">
     INSERT INTO user_tb(userid, userpw, nickname, email, blog, birth, address, image)
          VALUES (#{userId}, #{userPw}, #{nickname}, #{email}, #{blog}, #{birth}, #{address}, #{image})
      </insert>
      
      <insert id="createAuth">
     INSERT INTO user_auth_tb(USERID, auth)
          VALUES (#{userId}, #{auth})
      </insert> 
      
      <update id="updateUserInfo">
          UPDATE user_tb 
             SET nickname = #{nickname}, email = #{email}, blog = #{blog},
                 birth = #{birth}, address = #{address}, image = #{image}               
           WHERE userId = #{userId}
      </update>
      
      <select id="readUserInfo" resultType="UserVO">
          SELECT *
            FROM user_tb 
           WHERE userId = #{userId} 
      </select>
    
  </mapper>