<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.cultura.mapper.UserMapper">
      <resultMap type="com.cultura.domain.UserVO" id="userMap">
        <id property="userId" column="userId"/>
        <result property="userId" column="userId"/>
        <result property="userPw" column="userPw"/>
        <result property="userName" column="userName"/>
        <result property="regDate" column="regDate"/>
        <result property="updateDate" column="updateDate"/>
        <result property="enabled" column="enabled"/>
        <collection property="authList" resultMap="authMap"></collection> 
      </resultMap>
      
      <resultMap type="com.cultura.domain.AuthVO" id="authMap">
        <result property="userId" column="userId"/>
        <result property="auth" column="auth"/>
      </resultMap>
      
      <select id="read" resultMap="userMap">
          SELECT mem.userId,  userPw, nickname, enabled, regDate, updateDate, auth
          FROM user_tb mem LEFT OUTER JOIN user_auth_tb auth on mem.userId = auth.userId 
          WHERE mem.userId = #{userId} 
      </select>
      
      <select id="readId" resultType="string">
          SELECT userId
          FROM user_tb 
          WHERE userId = #{userId} 
      </select>
      <insert id="createUser">
          INSERT INTO USER_TB(USERID, USERPW, NICKNAME, EMAIL)
          VALUES(#{userId}, #{userPw}, #{nickname}, #{email})
      </insert>
      <insert id="createAuth">
          INSERT INTO USER_AUTH_TB(USERID, auth)
          VALUES(#{userId}, #{auth})
      </insert> 
    
  </mapper>